html {
    background-image: url(../assets/defaultOS_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    height: 300vh;
    width: 300vw;
}

:root {
    --primary-color: rgb(77, 80, 246);
}

iframe {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    border-radius: 10px;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}