.window {
  width: 400px;
  height: 200px;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  font-family: sans-serif;

  touch-action: none;

  /* This makes things *much* easier */
  box-sizing: border-box;
  position: absolute;
  transition:visibility 0.3s linear,opacity 0.3s linear;
  visibility: visible;
  opacity: 1;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.top-bar {
  outline: 5px solid var(--primary-color);
  width: 100px;
  height: 10px;
  position: absolute;
  z-index: -1;
  transform: translateY(-30px);
  background-color: var(--primary-color);
  justify-content: flex-end;
  display: flex;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.top-icon {
  fill: white;
  width: 15px;
  padding: 0px 5px;
  padding-top: 7px;
  height: 15px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}